<!DOCTYPE html>
<html lang=”en”>
    <head>
        <meta charset=”UTF-8">
        <title>Alert</title>
        <script src="datatables.min.js"></script>
        <script src="datatables.min.css"></script>
        <script src="jquery-tablepage-1.0.js"></script>
    </head>
    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>
    <body>
        <table border="1" style=width:100%>
            <thead>
            <tr>
                <th>row_id</th>
                <th>subject</th>
                <th>hadm_id</th>
                <th>admittime</th>
                <th>dischtime</th>
                <th>deathtime</th>
                <th>admission_type</th>
                <th>admission_location</th>
                <th>discharge_location</th>
                <th>insurance</th>
                <th>language</th>
                <th>religion</th>
                <th>marital_status</th>
                <th>ethnicity</th>
                <th>edregtime</th>
                <th>edouttime</th>
                <th>diagnosis</th>
                <th>hospital_expire_flag</th>
                <th>has_chartevents_data</th>
            </tr>
            </thead>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.row_id }}</td>
                <td>{{ contact.subject_id }}</td>
                <td>{{ contact.hadm_id }}</td>
                <td>{{ contact.admittime }}</td>
                <td>{{ contact.dischtime }}</td>
                <td>{{ contact.deathtime }}</td>
                <td>{{ contact.admission_type }}</td>
                <td>{{ contact.admission_location }}</td>
                <td>{{ contact.discharge_location }}</td>
                <td>{{ contact.insurance }}</td>
                <td>{{ contact.language }}</td>
                <td>{{ contact.religion }}</td>
                <td>{{ contact.marital_status }}</td>
                <td>{{ contact.ethnicity }}</td>
                <td>{{ contact.edregtime }}</td>
                <td>{{ contact.edouttime }}</td>
                <td>{{ contact.diagnosis }}</td>
                <td>{{ contact.hospital_expire_flag }}</td>
                <td>{{ contact.has_chartevents_data }}</td>

            </tr>
            {% endfor %}
        </table>
    </body>
</html>