<!DOCTYPE html>
<html lang=”en”>
    <head>
        <meta charset=”UTF-8">
        <title>Alert</title>
        <script src="datatables.min.js"></script>
        <script src="datatables.min.css"></script>
        <script src="jquery-tablepage-1.0.js"></script>
    </head>
    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>
    <body>
    <p>DRGCODES</p>
        <table border="1" style=width:100%>
            <thead>
            <tr>
                <th>row_id</th>
                <th>subject</th>
                <th>hadm</th>
                <th>drg_type</th>
                <th>drg_code</th>
                <th>description</th>
                <th>drg_severity</th>
                <th>drg_mortality</th>
            </tr>
            </thead>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.row_id }}</td>
                <td>{{ contact.subject_id }}</td>
                <td><a href="/patients/admissions/find_hadmid/{{ contact.hadm_id }}" >{{ contact.hadm_id }}</a></td>
                <td>{{ contact.drg_type }}</td>
                <td>{{ contact.drg_code }}</td>
                <td>{{ contact.description }}</td>
                <td>{{ contact.drg_severity }}</td>
                <td>{{ contact.drg_mortality }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">next</a>
                    <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <a href="/patients/">home</a>
    </body>
</html>