<!DOCTYPE html>
<html lang=”en”>
    <head>
        <meta charset=”UTF-8">
        <title>Alert</title>
        <script src="datatables.min.js"></script>
        <script src="datatables.min.css"></script>
        <script src="jquery-tablepage-1.0.js"></script>
    </head>
    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>
    <body>
    <p>MICROBIOLOGYEVENTS</p>
        <table border="1" style=width:100%>
            <thead>
            <tr>
                <th>row_id</th>
                <th>subject</th>
                <th>hadm</th>
                <th>chartdate</th>
                <th>charttime</th>
                <th>spec_itemid</th>
                <th>spec_type_desc</th>
                <th>org_itemid</th>
                <th>org_name</th>
                <th>isolate_num</th>
                <th>ab_itemid</th>
                <th>ab_name</th>
                <th>dilution_text</th>
                <th>dilution_comparison</th>
                <th>dilution_value</th>
                <th>interpretation</th>
            </tr>
            </thead>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.row_id }}</td>
                <td>{{ contact.subject_id }}</td>
                <td><a href="/patients/admissions/find_hadmid/{{ contact.hadm_id }}" >{{ contact.hadm_id }}</a></td>
                <td>{{ contact.chartdate }}</td>
                <td>{{ contact.charttime }}</td>
                <td><a href="/patients/d_items/{{ contact.spec_itemid_id }}">{{ contact.spec_itemid_id }}</a></td>
                <td>{{ contact.spec_type_desc }}</td>
                <td><a href="/patients/d_items/{{ contact.org_itemid_id }}">{{ contact.org_itemid_id }}</a></td>
                <td>{{ contact.org_name }}</td>
                <td>{{ contact.isolate_num }}</td>
                <td><a href="/patients/d_items/{{ contact.ab_itemid_id }}">{{ contact.ab_itemid_id }}</a></td>
                <td>{{ contact.ab_name }}</td>
                <td>{{ contact.dilution_text }}</td>
                <td>{{ contact.dilution_comparison }}</td>
                <td>{{ contact.dilution_value }}</td>
                <td>{{ contact.interpretation }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">next</a>
                    <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <a href="/patients/">home</a>
    </body>
</html>