<!DOCTYPE html>
<html lang=”en”>
    <head>
        <meta charset=”UTF-8">
        <title>Alert</title>
        <script src="datatables.min.js"></script>
        <script src="datatables.min.css"></script>
        <script src="jquery-tablepage-1.0.js"></script>
    </head>
    <style>
        table {
            border-collapse: collapse;

        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>
    <body>
    <p>PRESCRIPTIONS</p>
        <table border="1" style=width:100%>
            <thead>
            <tr>
                <th>row_id</th>
                <th>subject</th>
                <th>hadm</th>
                <th>icustay</th>
                <th>startdate</th>
                <th>enddate</th>
                <th>drug_type</th>
                <th>drug</th>
                <th>drug_name_poe</th>
                <th>drug_name_generic</th>
                <th>formulary_drug_cd</th>
                <th>gsn</th>
                <th>ndc</th>
                <th>prod_strength</th>
                <th>dose_val_rx</th>
                <th>dose_unit_rx</th>
                <th>form_val_disp</th>
                <th>form_unit_disp</th>
                <th>route</th>
            </tr>
            </thead>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.row_id }}</td>
                <td>{{ contact.subject_id }}</td>
                <td><a href="/patients/admissions/find_hadmid/{{ contact.hadm_id }}" >{{ contact.hadm_id }}</a></td>
                <td><a href="/patients/icustays/find_icustays/{{ contact.icustay_id }}">{{ contact.icustay_id }}</a></td>
                <td>{{ contact.startdate }}</td>
                <td>{{ contact.enddate }}</td>
                <td>{{ contact.drug_type }}</td>
                <td>{{ contact.drug }}</td>
                <td>{{ contact.drug_name_poe }}</td>
                <td>{{ contact.drug_name_generic }}</td>
                <td>{{ contact.formulary_drug_cd }}</td>
                <td>{{ contact.gsn }}</td>
                <td>{{ contact.ndc }}</td>
                <td>{{ contact.prod_strength }}</td>
                <td>{{ contact.dose_val_rx }}</td>
                <td>{{ contact.dose_unit_rx }}</td>
                <td>{{ contact.form_val_disp }}</td>
                <td>{{ contact.form_unit_disp }}</td>
                <td>{{ contact.route }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">next</a>
                    <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <a href="/patients/">home</a>
    </body>
</html>